

  <%= form_tag do %>
  <div id="login_form">
     <h3>Login to your account</h3>

	<%= link_to 'Create account', new_user_path %><br>
	  <div id="login_data">
        <%= label_tag :email, 'Email:' %>
        <%= email_field_tag :email, params[:email], autofocus: true %>
      
        <script type="text/javascript">
          document.getElementById('email').focus();
        </script>
		    <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %>
     
		<%= submit_tag "Login", class: 'grey_button' %>
	</div>
  </div>
  <% end %>
