<%= form_tag id: 'login-form', role: 'form' do %>
  <div id='login_form', class= 'col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4'>
    
      <span class= "right"><%= link_to t('.create_account_html'), new_user_path %></span><br />
      
      <h3><%= t('.login') %></h3><br />
      

    <div class="form-group">
      <%= label_tag :email, t('.email') %>
      <%= email_field_tag :email, params[:email], autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :password, t('.password_html') %>
      <%= password_field_tag :password, params[:password], class: "form-control" %>
    </div>


    <%= submit_tag t('.login_button'), class: 'btn btn-default grey_button' %>
  </div>
<% end %>

<script type="text/javascript">
  document.getElementById('email').focus();
</script>