<%= form_for(@category_translation, html: {role: 'form', class: 'col-xs-12 col-sm-6'}) do |f| %>
  <% if @category_translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_translation.errors.count, "error") %> prohibited this category_translation from being saved:</h2>

      <ul>
      <% @category_translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :language_id %><br>
    <%= f.collection_select :language_id, @languages, :id, :name, {}, {class: 'form-control'} %><br>
  </div>
  <div class="form-group">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, @categories, :id, :name, {}, {class: 'form-control'} %><br>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default grey_button' %>
  </div>
<% end %>
