
<p>
  <strong>Language:</strong>
  <%= @category_translation.language.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @category_translation.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category_translation.name %>
</p>

<%= link_to 'Edit', edit_category_translation_path(@category_translation) %> 
<%= link_to 'Back', category_translations_path %>
