<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div id="sign_up_data">
	<%= f.label :name %><br>
    <%= f.text_field :name %><br>
  
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
 
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>


<% if session[:user_id] && @current_user.role.name == 'administrator'  %>
 
	  <%= f.label :role %><br>
	  <%= f.collection_select :role_id, Role.order(:name), :id, :name %><br>

<% end %>

  <div class="actions">
    <%= f.submit 'Create', class: 'button' %>
  </div>


</div>

<% end %>
