<%= form_for(@user, role: 'form') do |f| %>


<div id="sign_up_data" class="col-xs-12" >
  
  <div class="form-group">
	  <%= f.label :name, t('.username_html') %><%= errors_for @user, :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, t('.email') %><%= errors_for @user, :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :password, t('.password_html') %><%= errors_for @user, :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
 
  <div class="form-group">
    <%= f.label :password_confirmation, t('.password_confirmation_html') %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    <%= errors_for @user, :password_confirmation %><br />
  </div>

<% if @current_user && @current_user.role.name == 'administrator'  %>
 <div class="form-group">
	  <%= f.label :role %><br>
	  <%= f.collection_select :role_id, Role.order(:name), :id, :name, {},  { class: "form-control"}  %>
  </div>

<% end %>

  <div class="actions">
    <%= f.submit t('.create'), class: 'btn btn-default grey_button' %>
  </div>


</div>

<% end %>


<script type="text/javascript">
  document.getElementById('user_name').focus();
</script>
    