<%= form_for(@user) do |f| %>


<div id="sign_up_data">
	  <%= f.label :name %><%= errors_for @user, :name %>
    <%= f.text_field :name, autofocus: true %><br />

    <script type="text/javascript">
      document.getElementById('user_name').focus();
    </script>
    
    <%= f.label :email %><%= errors_for @user, :email %>
    <%= f.email_field :email %><br />
  
    <%= f.label :password %><%= errors_for @user, :password %>
    <%= f.password_field :password %><br />
 
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= errors_for @user, :password_confirmation %><br />

<% if @current_user && @current_user.role.name == 'administrator'  %>
 
	  <%= f.label :role %><br>
	  <%= f.collection_select :role_id, Role.order(:name), :id, :name %><br>

<% end %>

  <div class="actions">
    <%= f.submit 'Create', class: 'grey_button' %>
  </div>


</div>

<% end %>
