<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.username_html') %></strong>
  <%= @user.name %>
</p>


<p>
	<h2><%= t('.addresses') %></h2>
</p>
<% unless session[:role]=='administrator' %>
	<div id="address_list">
		<% @addresses.each do |address| %>
			<div class="address_display">
				<%= address.street %><br>
				<%= address.city_details %><br>
				<%= address.country_name %><br>
				<%= link_to t('.edit_address'), edit_address_path(address) %>
			</div>
		<% end %>
	</div>
<% end %>

<div id="user_links">
	<%= link_to t('.edit_profile'), edit_user_path(@user) %>
</div>
