<%= form_for(@size, html: { role: 'form', class: 'col-xs-12 col-sm-6'}) do |f| %>
  <% if @size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@size.errors.count, "error") %> prohibited this size from being saved:</h2>

      <ul>
      <% @size.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :size %><br>
    <%= f.text_field :size, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default grey_button'%>
  </div>
<% end %>
