<div class='table-responsive'>
<table id="table_display" class='table'>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Shipping Address</th>
      <th>Order Date</th>
      <th>User Name</th>
      <th>User Email</th>
      <th>Shipped</th>
      <th>Product</th>
      <th>Color</th>
      <th>Size</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% orders.each do |order| %>
    <!-- First item (making dinstinction because of rowspan) -->
      <tr>
        <td rowspan="<%= order.number_of_items + 1 %>"><%= order.id %></td>
        <td rowspan="<%= order.number_of_items + 1 %>"><%= simple_format order.get_shipping_address.print_format %></td>
        <td rowspan="<%= order.number_of_items + 1 %>"><%= order.get_order_date %></td>
        <td rowspan="<%= order.number_of_items + 1 %>"><%= order.get_user_name %></td>
        <td rowspan="<%= order.number_of_items + 1 %>"><%= order.get_user_email %></td>
        <td rowspan="<%= order.number_of_items + 1 %>">
          <% unless params[:shipped]=='true' %>
            <%= button_to "Ship", orders_ship_order_url(id: order.id), class: 'btn btn-default btn-sm', remote: true %>
          <% else %>
            <%= order.get_shipping_date %>
          <% end %>
        </td>     
         </tr>
        <% order.items.each do |item| %>
        <tr>
          <td><%= item.get_product_title %></td>
          <td><%= item.get_product_color %></td>
          <td><%= item.get_product_size %></td>
          <td><%= item.quantity %></td>
        </tr>

        <% end %>
     


      
    <% end %>
  </tbody>
</table>

</div>