
<h2><%= t('.available_items') %></h2>


	<div id="product_list" class="col-xs-12 col-sm-6" >
		<% @cart_items.each do |line_item| %>
    	<%= render partial: 'carts/product_in_cart', locals: {line_item: line_item }%>
		<% end %>


		<% if @cart_items.empty? %>
			<%= t('.sorry_html') %><br />
			<%= link_to t('.homepage_html'), store_url %>
		<% end %>
	</div>




<!--  If user is ordering -->

<script src="https://checkout.stripe.com/checkout.js"></script>



  <div class="order_display col-xs-12 col-sm-6 col-md-5">
    <% unless @cart.number_of_products == 0 %>
        <div class="step"><%= t('.step_3') %></div>
        <%= render partial: "carts/order_cart" %>
    

  	<%=form_tag "create_order", id: 'chargeForm' do %>
      <% if session[:shipping_id] && session[:billing_id] %>
        <div class="col-xs-12 col-sm-6 buttons" style="float: right">
        	<script src="https://checkout.stripe.com/checkout.js"></script>
  			<%= hidden_field_tag 'stripeToken' %>
  			<%= hidden_field_tag 'stripeEmail' %>
  			<%= hidden_field_tag 'stripeCard' %>
    		<button id="payment_button" class="btn btn-large btn-primary">Buy Now</button>
        </div>
      <% else %>
      <div class='col-xs-12 col-sm-6' >
        Pick your shipping and billing addresses, please.
      </div>
        
      <% end %>
    <% end %>
  <% end %>
  </div>


<script>
  var handler = StripeCheckout.configure({
    key: "pk_test_Cnh27zogL5NcjyVeTcLBWmle",
    currency: "<%= @currency.name %>",
    token: function(token) {
	    document.getElementById("stripeToken").value = token.id;                              
        document.getElementById("stripeEmail").value = token.email;
        document.getElementById("stripeCard").value = token.card.id;
        document.getElementById("chargeForm").submit();
    }
  });

  $('#payment_button').on('click', function(e) {
  	var result = "<%= !@cart.all_cart_items_are_not_available? %>"
  	alert(result);
		  	if (result == 'true') {
		  		handler.open({
			      	name: 'abhShoes',
			      	description: 'Pay for your items',
			      	amount: <%= @cart.total_delivery_and_products_price*100.to_i %>
		    	});
		    	e.preventDefault();
		  	}
			else {
				alert("All requested items are not available.");
				window.location = "<%= orders_available_items_url %>";
			}
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>


