<h2><%= t('.purchase_history') %></h2>

<div class="table-responsive col-xs-12">
<table class="table">
	<% @order_items.each do |product_variant| %>
	<tr>
		<td class="col-xs-3">
			<%= image_tag product_variant.get_order_product_image, class: 'img-responsive col-xs-9' %>
		</td>
		<td class="col-xs-3">
			<span class="title"><%= product_variant.get_product_title %></span><br/>
			<%= t('.size_html') %>: <%= product_variant.get_product_size %><br/>
			<%= t('.color') %>: <%= product_variant.get_product_color %><br />
		</td>
		<td class="col-xs-2">
			<span class="bold"><%= t('.price') %>:</span> <br/>
			<%= product_variant.get_product_price %><br/>
			<%= t('.quantity_html') %>: <%= product_variant.quantity %><br/>
		</td>
		<td class="col-xs-2">
      <span class="bold"><%= t('.order_date_html') %>:</span><br/>
			<%= product_variant.order.get_order_date %><br />
		</td>

		<td class="col-xs-2">
			<span class="bold"><%= t('.shipping_address') %>:</span><br/>
			<%= simple_format product_variant.order.get_shipping_address.print_format %>
		</td>
	</tr>
	<% end %>
</table>
</div>