<h2><%= t('.purchase_history') %></h2>

<table>
	<% @order_items.each do |product_variant| %>
	<tr>
		<td>
			<%= image_tag product_variant.get_product_image_url %>
		</td>
		<td>
			<span class="title"><%= product_variant.get_product_title %></span><br/>
			<%= t('.size_html') %>: <%= product_variant.get_product_size %><br/>
			<%= t('.color') %>: <%= product_variant.get_product_color %><br />
		</td>
		<td>
			<%= t('.price') %> <br/>
			<span class="price"><%= product_variant.get_product_price %></span><br/>
			<%= t('.quantity_html') %> <%= product_variant.quantity %><br/>
		</td>
		<td>
			<%= t('.order_date_html') %> <br/>
			<%= product_variant.order.get_order_date %><br />
		</td>

		<td>
			<%= t('.shipping_address') %><br/>
			<%= render partial: 'addresses/address_display', locals: {address: product_variant.order.get_shipping_address} %>
		</td>
	</tr>
	<% end %>
</table>
	