
<div id="cart_items">
	<h1><%= t('.cart_html') %></h1>

	<div id="product_list">
		<% items.each do |line_item| %>
			<div class="product_in_cart">
				<%= image_tag(line_item.product_variant.product.image_url) %>
				<div class="product_details">
					 <%= line_item.quantity %>&times; <%= line_item.product_variant.product.title %><br>
					<%= t('.size_html') %>: <%= line_item.product_variant.size.size %><br>
					<%= t('.color') %>: <%= line_item.product_variant.color.name %><br>
				</div>

				<div class="product_price">
					<%= t('.price') %>: <strong><%= number_to_currency(line_item.product_variant.product.price) %></strong><br>
				</div>


				<div class="delete_icon">
					<%= link_to image_tag('xic.png'), line_item, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
				</div>

			</div>

		<% end %>
	</div>

</div>


<% unless @cart.number_of_products == 0 %>
  <div class="order_display">
  	<div class="step"><%= t('.step_1of2') %></div>
  	<%= render("carts/order_cart") %>
	<%= button_to t('.continue'), addresses_path, method: :get, class: 'grey_button' %>
    <%= button_to t('.cancel'), @cart, method: :delete, data: { confirm: 'Are you sure?'}, class: 'cancel_button' %>
  </div>
	

<% else %>
	<h2><%= t('.empty_cart') %></h2>
<% end %>