
<div id="cart_items">
	<h1>Your Cart</h1>

	<div id="product_list">
		<% items.each do |line_item| %>
			<div class="product_in_cart">
				<%= image_tag(line_item.product_variant.product.image_url) %>
				<div class="product_details">
					 <%= line_item.quantity %>&times; <%= line_item.product_variant.product.title %><br>
					Size: <%= line_item.product_variant.size.size %><br>
					Color: <%= line_item.product_variant.color.name %><br>
				</div>

				<div class="product_price">
					Price: <strong><%= number_to_currency(line_item.product_variant.product.price) %></strong><br>
				</div>


				<div class="delete_icon">
					<%= link_to image_tag('xic.png'), line_item, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
				</div>

			</div>

		<% end %>
	</div>

</div>


<% unless @cart.number_of_products == 0 %>
  <div class="step">Step 1 of 2</div>
	<%= render("carts/order_cart") %>
	<div class="buttons">
		<%= button_to 'Continue', addresses_url, method: :get,  class: 'grey_button' %>
	</div>
<% else %>
	<h2>Your cart is empty.</h2>
<% end %>