

	<h2><%= t('.cart_html') %></h2>

	<div id="product_list" class="col-xs-12 col-sm-6" >
		<% items.each do |line_item| %>
			<%= render partial: 'carts/product_in_cart', locals: {line_item: line_item }%>
		<% end %>
	</div>




<% unless @cart.number_of_products == 0 %>
  <div class="order_display col-xs-12 col-sm-6">
  	<div class="step col-xs-12"><%= t('.step_1') %></div>
    <div class="col-xs-12"><%= render("carts/order_cart") %></div>
  	<div class="col-xs-12">

	  	<%= button_to t('.continue'), addresses_path, method: :get, class: 'btn btn-default grey_button' %>

      <%= button_to t('.empty_cart_button'), @cart, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-default cancel_button' %>
    </div>
  </div>
	

<% else %>
	<h2><%= t('.empty_cart') %></h2>
<% end %>