<%= link_to addresses_select_address_path(id: address.id, type: type), method: :post do %>
	<span class="user_address">
	  <%= address.first_name %> <%= address.last_name %><br>
	  <%= address.street %>, <%= address.details %><br>
	  <%= address.city_details %><br>
	  <%= address.country_name %><br>
	</span>
<% end %>