<div id="address_form">

  <h1>Your shipping address</h1>


<%= form_for(@new_shipping) do |f| %>

 
  <div class="smaller_fields">
    <%= f.label :person_full_name %><br>
    <%= f.text_field :first_name %><%= f.text_field :last_name %><br>
  </div>

  <div class="field">
    <%= f.label :street_name_and_house_number %><br>
    <%= f.text_field :street_name %><%= f.number_field :street_number %><br>
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </div>

 
  <div class="field">
    <%= f.label :city %><br>
    <%= f.collection_select :city_id, City.all, :id, :name %>
  </div>

  <div class="field">
     <%= f.check_box 'billing', {checked: true, onchange: "show_billing_form()"} %> I want this address to be my billing address too.
  </div>


  
  <%= f.hidden_field :shipping, value: true %>

  <div class="dugmad">
    <%= f.submit 'Add Address', class: 'grey_button' %>
  </div>
<% end %>

</div>
