

<div class="address_form">

  <div class="title">Your shipping address</div>


<%= form_for(@new_shipping) do |f| %>
  <% if @new_shipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_shipping.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @new_shipping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, autofocus: true %><br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>
  </div>

     <script type="text/javascript">
      document.getElementById('address_first_name').focus();
    </script>


  <div class="field">
    <%= f.label :street_name %><br>
    <%= f.text_field :street_name %><br>
    <%= f.label :street_number %><br>
    <%= f.number_field :street_number %><br>
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </div>

 
  <div class="field">
    <%= f.label :city %><br>
    <%= f.collection_select :city_id, City.all, :id, :name %>
  </div>

  
  <%= f.hidden_field :shipping, value: true %>

<% if @new_shipping && @new_billing %>
<div id= "billing_checkbox">
  <div class="title">Your billing address</div>

   <div class="checkbox">
     <%= f.check_box 'billing', {checked: true, onchange: "show_billing_form()"} %> The same as shipping.
  </div>
</div>
<% end %>


  
<%= f.submit 'Add Address', class: 'grey_button' %>



<% end %>

</div>
