<% if @new_shipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_shipping.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @new_shipping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div id="address_form" name="billing_form">

  <h1>Your billing address</h1>


  <%= form_for(@new_billing) do |f| %>

  <div class="smaller_fields">
    <%= f.label :person_full_name %><br>
    <%= f.text_field :first_name %><%= f.text_field :last_name %><br>
  </div>
 
  <div class="field">
    <%= f.label :street_name_and_house_number %><br>
    <%= f.text_field :street_name %><%= f.number_field :street_number %><br>
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </div>

 
  <div class="field">
    <%= f.label :city %><br>
    <%= f.collection_select :city_id, City.all, :id, :name %>
  </div>
    
  
  
  
   <%= f.hidden_field :billing, value: true %>
 
 
  
  <div class="dugmad">
    <%= f.submit 'Add Address', class: 'grey_button' %>
  </div>
<% end %>

</div>
