
<div class="address_form" name="billing_form">

  <div class="title">Your billing address</div>

  <%= form_for(@new_billing) do |f| %>
 
  <% if @new_billing.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@new_billing.errors.count, "error") %> prohibited this address from being saved:</h2>

    <ul>
      <% @new_billing.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<% if @new_shipping %>
  <div class="checkbox" id="hide_billing_checkbox">
   <%= f.check_box 'shipping', {checked: false, onchange: "hide_billing_form()"} %> Use shipping address.
 </div>
<% end %>



<div class="field">
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %><br>
</div>

 

<div class="field">
  <%= f.label :street_name %><br>
  <%= f.text_field :street_name %><br>
  <%= f.label :street_number %><br>
  <%= f.number_field :street_number %><br>
  <%= f.label :details %><br>
  <%= f.text_field :details %>
</div>


<div class="field">
  <%= f.label :city %><br>
  <%= f.collection_select :city_id, City.all, :id, :name %>
</div>   



<%= f.hidden_field :billing, value: true %>



<%= f.submit 'Add Address', class: 'grey_button' %>

<% end %>

</div>
