<div class="user_address col-xs-12 col-sm-6">
  <div class="title"><%= t('.billing_address_html') %></div>

  <%= address.first_name %> <%= address.last_name %><br>
  
  <%= address.street %>, <%= address.details %><br>
  <%= address.city_details %><br>
  <%= address.country_name %><br>
  <br><%= link_to t('.change'), addresses_user_addresses_path(type: 'billing') %>
</div>