


<div id="address_container">
  
  <div id="all_user_addresses">
    
    <% if @the_same_addresses == true %>
      <%= render partial: 'selected_address', locals: {address: @selected_shipping} %>
    <% else %>

      <% if @selected_shipping.nil? %>
        <%= render partial: 'form' %>
      <% else %>
        <%= render partial: 'selected_address_shipping', locals: {address: @selected_shipping} %>
      <% end %>
    

      <% if @selected_billing.nil? %>
        <%= render partial: 'addresses/new_billing_address' %>
      <% else %>
          <%= render partial: 'selected_address_billing', locals: {address: @selected_billing} %>
      <% end %>
      
    
 
      <script type="text/javascript">
        function show_billing_form() {
          var billing_form = document.getElementsByName('billing_form')[0];
          var billing_checkbox = document.getElementById('billing_checkbox');
           if(this.checked == true) {
             billing_form.style.display = 'none';
             billing_checkbox.style.display= 'block';
           } else {
             billing_form.style.display = 'block';
             billing_checkbox.style.display= 'none';
           }
        };
      </script>

      <% if @new_billing && !@new_shipping %>
      <script type="text/javascript">
        var billing_form = document.getElementsByName('billing_form')[0];
        billing_form.style.display = 'block';
      </script>
      <% end %>

    <% end %>
  </div>

  
<!--  If user is ordering -->
<% unless @cart.number_of_products == 0 %>
  <div class="step">Step 2 of 2</div>
  <%= render partial: "carts/order_cart" %>
<% end %>


  <div class="buttons">
    
  	<%=form_tag '/orders/create_order' do %>
      <% if @selected_shipping && @selected_billing %>
      	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_Cnh27zogL5NcjyVeTcLBWmle"
                data-description="Pay for your items"
                data-amount="<%= (@cart.total_delivery_and_products_price*100).to_i %>">
        </script>

      <% else %>
        Pick your shipping and billing addresses, please.
      <% end %>
  <% end %>
  </div>
</div>