


<div id="address_container">
  
  <div id="all_user_addresses">
    
    <% if @default_shipping.nil? %>
      <%= render partial: 'form', locals: {address: @new_shipping}  %>
    <% else %>
     <h3>Shipping Address</h3>
      <%= render partial: 'address', locals: {address: @default_shipping} %>
      <%= link_to 'Change', addresses_user_addresses_path %><br>
    <% end %>
  
    <% if @default_billing.nil? %>
      <%= render partial: 'new_billing_address', locals: {address: @new_billing}  %>
    <% else %>
      <% unless @the_same_addresses == true %>
        <h3>Billing address</h3>
        <%= render partial: 'address', locals: {address: @default_billing} %>
        <%= link_to 'Change', addresses_user_addresses_path %><br>
      <% end %>
    <% end %>
 
      

  </div>

  
<!--  If user is ordering -->
<% unless @cart.number_of_products == 0 %>
  <div class="step">Step 2 of 2</div>
  <%= render partial: "carts/order_cart" %>
<% end %>


  <div class="buttons">
    <%= button_to 'Back to Cart', cart_path(@cart.id), method: :get, class: 'cancel_button' %>
  	<%=form_tag '/payment/do_payment' do %>
  	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_Cnh27zogL5NcjyVeTcLBWmle"
            data-description="Pay for your items"
            data-amount="<%= (@cart.total_delivery_and_products_price*100).to_i%>"></script>
  <% end %>
  </div>
</div>