
<div id="all_user_addresses">
	
	<% if @shipping_addresses.present? %>
		<h1>Your Shipping Addresses</h1>
		<% @shipping_addresses.each do |address| %>
		<div class="user_address">
			<%= address.street %><br>
			<%= address.city_details %><br>
			<%= address.country_name %><br>
			<div class='orange'>
				<%= radio_button_tag :selected, address %>Select this address for delivery.
			</div>

		</div>
		<% end %>
	<% end %>
	
	<%= check_box_tag 'the_same_addresses', 'yes', true %>Shipping address is the same as billing address.<br>
		<small>(If not, add new or pick existing shipping address.)</small>
		<br><br>
	<% if @billing_address.present? %> 
		<h1>Your Billing Address</h1>
		<div class="user_address">
			<%= @billing_address.street %><br>
			<%= @billing_address.city_details %><br>
			<%= @billing_address.country_name %><br>

		</div>
	<% end %>

<%= link_to 'New Address', new_address_path %>
	
</div>

<%= render partial: "carts/order_cart" %>
<div class="buttons">

	<%=form_tag '/payment/do_payment' do %>
	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Cnh27zogL5NcjyVeTcLBWmle"
          data-description="Pay for your items"
          data-amount="<%= (@cart.total_delivery_and_products_price*100).to_i%>"></script>
<% end %>
</div>
