
<h1>Your Shipping Addresses</h1>

<% @shipping_addresses.each do |address| %>
<div class="user_address">
	<%= address.street %><br>
	<%= address.city_details %><br>
	<%= address.country_name %><br>
	
	<%= label_tag :default %>
	<%= check_box_tag(:default,1, address.default ? :checked : nil, disabled: true) %> 
	

</div>
<% end %>


<br>


<% if @billing_address.present? %> 
	<h1>Billing Address</h1>
	<div class="user_address">
		<%= @billing_address.street %><br>
		<%= @billing_address.city_details %><br>
		<%= @billing_address.country_name %><br>

		<%= label_tag :default %>
		<%= check_box("default", @billing_address.default, {checked: @billing_address.default}) %>

	</div>
<% end %>




<%= link_to 'New Address', new_address_path %>

<%= render partial: "carts/order_cart" %>

