
  
<div class="addresses_form col-xs-12 col-sm-6">
    
    <% if @the_same_addresses == true %>
      <%= render partial: 'selected_address', locals: {address: @selected_shipping} %>
    <% else %>

      <% if @selected_shipping.nil? %>
        <%= render partial: 'form' %>
      <% else %>
        <%= render partial: 'selected_address_shipping', locals: {address: @selected_shipping} %>
      <% end %>
    

      <% if @selected_billing.nil? %>
      <div id="new_billing_address">
          <%= render partial: 'addresses/new_billing_address' %>
      </div>
        
      <% else %>
          <%= render partial: 'selected_address_billing', locals: {address: @selected_billing} %>
      <% end %>
      


      <% if @new_billing && !@new_shipping %>
      <script type="text/javascript">
        var billing_form = document.getElementById('new_billing_address');
        billing_form.style.display = 'block';
      </script>
      <% end %>

    <% end %>
  </div>

  
<!--  If user is ordering -->

  <div class="order_display col-xs-12 col-sm-6 col-md-5">
    <% unless @cart.number_of_products == 0 %>
        <div class="step"><%= t('.step_2of2') %></div>
        <%= render partial: "carts/order_cart" %>
    

  	<%=form_tag "/orders/create_order" do %>
      <% if @selected_shipping && @selected_billing %>
        <div class="col-xs-12 col-sm-6 buttons" style="float: right">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
                  data-key="pk_test_Cnh27zogL5NcjyVeTcLBWmle"
                  data-description="Pay for your items"
                  data-amount="<%= (@cart.total_delivery_and_products_price*100).to_i %>">
          </script>
        </div>
      <% else %>
      <div class='col-xs-12 col-sm-6' >
        Pick your shipping and billing addresses, please.
      </div>
        
      <% end %>
    <% end %>
  <% end %>
  </div>



    
 
<script type="text/javascript">

  
  function show_billing_form() {
    var billing_form = document.getElementById('new_billing_address');
    var billing_checkbox_div = document.getElementById('billing_checkbox');
    var hide_billing_checkbox = document.getElementById('hide_billing_checkbox');
     if(!this.checked) {
       billing_form.style.display = 'block';
       billing_checkbox_div.style.display = 'none';
       hide_billing_checkbox.checked = false;
     }
  };

  function hide_billing_form() {

  var billing_form = document.getElementById('new_billing_address');
  var billing_checkbox_div = document.getElementById('billing_checkbox');
  var show_billing_checkbox = document.getElementById('address_billing');
  if(!this.checked) {
     billing_form.style.display = 'none';
     billing_checkbox_div.style.display = 'block';
     show_billing_checkbox.checked = true;
    } 
  else{
    billing_form.style.display = 'block';
    billing_checkbox_div.style.display = 'none';
    show_billing_checkbox.checked = false;
  }
  };
</script>