<div id="address_container">
  <div id="all_user_addresses">

    <% if @user_addresses.present? %>
      <h1>Your Addresses</h1>
      <% @user_addresses.each do |address| %>
     
        <%= render partial: 'address', locals: {address: address} %>
   
      <% end %>
    <% end %>


    <br>
    <%= link_to 'Add Biling Address', addresses_new_billing_address_path %> | 
    <%= link_to 'Add Shipping Address', new_address_path %> 


    <br>
    <%= link_to '<< Back to order', addresses_path %>
  </div>


  <!--  If user is ordering -->
<% unless @cart.number_of_products == 0 %>
  <div class="step">Step 2 of 2</div>
  <%= render partial: "carts/order_cart" %>
<% end %>


  <div class="buttons">
    <%= button_to 'Back to Cart', cart_path(@cart.id), method: :get, class: 'cancel_button' %>
    <%=form_tag '/payment/do_payment' do %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_Cnh27zogL5NcjyVeTcLBWmle"
            data-description="Pay for your items"
            data-amount="<%= (@cart.total_delivery_and_products_price*100).to_i%>"></script>
  <% end %>
  </div>
</div>