<div class='table-responsive'>
<table class='table table-striped'>
	<tr>
		<th>Variant ID </th>
		<th>Product</th>
		<th>Color</th>
		<th>Size</th>
		<th>Quantity in stock</th>
		<th>Actions</th>
	</tr>
	<%  product_variants.each do |pv| %>
	
		<tr>
			<td><%= pv.id %></td>
			<td><%= pv.product.title %></td>
			<td><%= pv.color.name %></td>
			<td><%= pv.size.size %></td>
			<td><%= pv.quantity %></td>
			<td>
				<%= link_to 'Edit', edit_product_product_variant_path(product_id: pv.product.id, id: pv.id) %> |
				<%= link_to 'Delete', product_product_variant_path(product_id: pv.product.id, id: pv.id), method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
	
<% end %>

</table>
</div>