
   <h2><%= @category.name %></h2>
 



<% if session[:role]=='administrator' %>
<%= link_to 'Edit', edit_category_path(@category) %>
<% end %>



<div id="category_filter" class='col-xs-2'>

<%= form_tag(category_path(@category.id), method: :get) do %>
  <div class="form-group">
    <%= label_tag :size %><br>
    <%= select_tag "size", options_from_collection_for_select(Size.all, :id, :size, params[:size]), { class: 'form-control', include_blank: true } %>
  </div>

  <div class="form-group">
    <%= label_tag :color %><br>
    <%= select_tag "color", options_from_collection_for_select(Color.all, :id, :name, params[:color]), { class: 'form-control', include_blank: true  }  %>
  </div>

  <div class="form-group">
    <%= label_tag :min_price %><br>
    <%= number_field_tag :min_price, params[:min_price], { class: 'form-control', :min => 0 }  %>
  </div>
  <div class="form-group">
  	<%= label_tag :max_price %><br>
  	<!-- number_field_tag 'quantity', nil, in: 1...10 -->
    <%= number_field_tag :max_price, params[:max_price], { class: 'form-control', :min => 0} %>
  </div>

  <%= submit_tag 'Update', class: 'btn btn-default grey_button' %>
</div>
<% end %>



<div id="product_list" class='col-xs-10'>
<% @products.each do |product| %>
	<%= render partial: "products/product", locals: {product: product} %>
<% end %>

</div>
