<%= form_for(@product, html: { role: 'form', class: 'col-xs-12 col-sm-6'}) do |f| %>


  <div class="form-group">
    <%= f.label :name %><%= errors_for @product, :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %><%= errors_for @product, :description %>
    <%= f.text_area :description, rows: '4', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price %><%= errors_for @product, :price %>
    <%= f.number_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :sale_price %><%= errors_for @product, :sale_price %>
    <%= f.number_field :sale_price, class: 'form-control' %>
  </div>

  <div class="form-group">
	  <%= f.label :category %><%= errors_for @product, :category_id %>
	  <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: true} , { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :image %><%= errors_for @product, :product_images %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Create', class: 'btn btn-default grey_button' %>
  </div>
<% end %>

