<div id="cart_items">
<h2>All products</h2>


<div id="product_list">
	<% @products.each do |product| %>
	
	<div id="product_in_cart">
		<%= image_tag(product.image_url) %>
		<div class="product_details">
		 	Model: <%= product.title %><br>
         	<%= truncate(strip_tags(product.description), length: 50) %><br>
			Size: 38<br>
			Color: red<br>
		</div>
  	
		<div id="product_price">
			Price: <strong><%= number_to_currency(product.price) %><br>
			Quantity: 1 <br>
		
      <%= link_to 'Show', product %> <br>
      <%= link_to 'Edit', edit_product_path(product) %> <br>
      <%= link_to 'Destroy', product, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  	</div>
	</div>
<% end %>
</div>

  </div>


