
<div id="product_display_form">
	
	<div class="product_title">
		<%= link_to @product.category.name, category_path(@product.category) %> » 
		<%= link_to @product.title, product_path %>
		
		<% if session[:role]=='administrator' %>
			<%= link_to 'Edit', edit_product_path(@product) %> 
		<% end %>
	</div>
	
	<%= image_tag(@product.image_url) %>

	<div class="product_description">
		<%= @product.description %><br><br>
	
	
<%= form_tag(line_items_path, method: :post) do %>
	<%= hidden_field_tag :product_id, @product.id %>
	Size<br>
	<%= select_tag "size_id", options_from_collection_for_select(@sizes, :id, :size) %><br>
		
	
<!--
	Quantity<br>
	<%= text_field :quantity, params[:quantity], value: '1' %><br>
		
-->
		
	<% unless session[:role]=='administrator' %>
		<%= submit_tag 'Add to Cart', remote: true, class: 'button' %>
	<% end %>
		
		
	</div>
	
	

<% end %>			
			
</div>


<div id="similar_products">
<h2>Similar products</h2>
		<% @similar_products.each do |product| %>

			<% cache ['entry', product] do %>
				<%= render partial: "products/product", locals: {product: product} %>
				
			<% end %>
		<% end %>
</div>

