
<div id="product_display_form" class="container-fluid">
	
	<div class="product_title row">
		
		<% if @translation %>
			<%= link_to @product.category.translation_for_category_name('ba'), category_path(@product.category) %> » 
			<%= link_to @translation.title, product_path %>
		<% else %>
			<%= link_to @product.category.name, category_path(@product.category) %> »
			<%= link_to @product.title, product_path %>
		<% end %>
		
		<% if session[:role]=='administrator' %>
			<%= link_to 'Edit', edit_product_path(@product) %> 
      <%= link_to 'Add image', new_product_product_image_path(product_id: @product.id) %>
		<% end %>
	</div>
	
  
  <div class="row">
    
        <div class= "col-xs-12 col-sm-6">
          <ul class="bxslider" id='bxslider'>
            <% @images.each do |img| %>
              <li><%= image_tag img.image.url(:medium) %></li>
            <% end %>
          </ul>
        </div>


        <div class="product_description col-xs-12 col-sm-6">
          <% if @translation %>
            <%= @translation.description %>
          <% else %>
            <%= @product.description %>
          <% end %>

          <br><br>

          <br><%= t('.price') %><br>
          <div class="price_line">
            <%= number_to_currency(@product.price) %>
          </div><br><br>

      <%= form_tag(line_items_path, method: :post, remote: true) do %>
        <%= hidden_field_tag :product_id, @product.id %>
        <%= t('.size_html') %><br>
        <%= select_tag "size_id", options_from_collection_for_select(@sizes, :id, :size), {class: 'form-control col-xs-12 col-s-6'} %><br>


      <!--
        Quantity<br>
        <%= text_field :quantity, params[:quantity], value: '1' %><br>

      -->

        <% unless session[:role]=='administrator' %>
          <%= submit_tag t('.add_html'), class: 'button', onclick: "fly_to_cart()" %>
        <% end %>


        </div>
  
  </div>
<% end %>			
</div>


<div id="similar_products"  class="container-fluid">
<h2><%= t('.similar_products_html') %></h2>
  
		<% @similar_products.each do |product| %>
				<%= render partial: "products/product", locals: {product: product} %>
		<% end %>
</div>

<script type="text/javascript">
      $(document).ready(function(){

          $('#bxslider').bxSlider();
        });
</script>