<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>

  <!-- <label id="code.slt"/> --><%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

  <div id="banner">
    <div id="title">Web Shop</div>
	
	
	  <div id="login_register">
		<ul>
			<% if session[:user_id] %>
				<li><%= link_to @current_user.name, user_url(@current_user.id) %></li>
				<li><%= link_to 'Log Out', login_url, method: :delete %></li>
			<% else %>
	  			<li><%= link_to 'Register', new_user_url %></li>
				<li><%= link_to 'Log In', login_url %></li>
			<% end %>
		</ul>
	  </div>
	  
	  
  </div>
	
	<div id="top_menu">
		<div id="categories">
			<ul>
				<li>Odjeca</li>
				<li>Obuca</li>
				<li>Mobiteli</li>
				<li>Racunari</li>
			</ul>
		</div>
		
		<div id="cart">
			
			CART
<!--
			<% if @cart %>
				<%= render @cart %>
			<% end %>
-->
		</div>
	</div>
	
	
	
	
 
<!--	  Administratorski menu -->
	<% if session[:role]=='administrator' %>
    	<div id="side_menu">
      		<ul>		
				<li><%= link_to 'New Role', new_role_url %></li>
				<li><%= link_to 'New Product', new_product_url %></li>
				<li><%= link_to 'Roles', roles_url %></li>
				<li><%= link_to 'Products', products_url %></li>
			</ul>
		</div>
	<% end %>
      	

	  
	  
    <div id="main">

      <%= yield %>

    </div>
  </div>

</body>
</html>
