<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

  <div id="header">
	  
    <div id="logo">Web Shop</div>

	<div id="cart">
		<% if  @cart %>
			<%= render @cart %>
		<% end %>
	</div>
	
	  <div id="user_options">
		<ul>
			<% if session[:user_id] %>
				<li><%= link_to @current_user.name, user_url(@current_user.id) %>
					<ul>
						<li><%= link_to 'Purchase History' %></li>
						<li><%= link_to 'Account Settings', edit_user_path(@current_user) %></li>
					</ul>
				</li>
				<li><%= link_to 'Log Out', login_url, method: :delete %></li>
			<% else %>
	  			<li><%= link_to 'Register', new_user_url %></li>
				<li><%= link_to 'Log In', login_url %></li>
			<% end %>
		</ul>
	  </div>
	  
	  
  </div>
	
	
		<div id="categories">
			<ul>
				<li><%= link_to 'Home', store_url %></li>
				<% @categories.each do |c| %>
					<li><%= link_to c.name, category_path(c) %></li>
				<% end %>
			</ul>
			
		
	</div>
	
	
	
	
 
<!--	  Administratorski menu -->
	<% if session[:role]=='administrator' %>
    	<div id="side_menu">
      		<ul>		
				<li><%= link_to 'New Role', new_role_url %></li>
				<li><%= link_to 'New Product', new_product_url %></li>
				<li><%= link_to 'Roles', roles_url %></li>
				<li><%= link_to 'Products', products_url %></li>
			</ul>
		</div>
	<% end %>
      	

	  
	  
    <div id="main">

      <%= yield %>

    </div>
  </div>

</body>
</html>
