<!DOCTYPE html>
<html>
<head>
  <title>abhShoes</title>

  <%= stylesheet_link_tag    "homepage", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">


		<div id="header">
			<div id="menu_container">

				<div id="logo"><%=image_tag('logo.png')%></div>

				<ul id="menu">
					<li><%= link_to 'Home', store_url %></li>
					<% @categories.each do |c| %>
						<li><%= link_to c.name, category_path(c) %></li>
					<% end %>
				</ul>

				
			
				
				
			<% unless session[:role]=='administrator' %>
				<div id="cart">
					<%= render @cart %>
				</div>
			<% end %>
				
				
				<div id="login_register">
					<% if session[:user_id] %>
						<li><%= link_to @current_user.name, user_url(@current_user.id) %>
							<ul>
                <% unless session[:role]=='administrator' %>
								  <li><%= link_to 'Purchase History' %></li>
                <% end %>
								<li><%= link_to 'Account Settings', edit_user_path(@current_user) %></li>

							</ul>
						</li>  
						<li><%= link_to 'Log Out', login_url, method: :delete, class: 'orange' %></li>
					<% else %>
						<li><%= link_to 'Register', new_user_url %></li> 
						<li><%= link_to 'Log In', login_url, class: 'orange' %></li>
					<% end %>
				</div>
			

		</div>
		</div>
	
	
	<% if notice %>
		<div id="notice"><%= notice %></div>
	<% end %>
	
	
	<div id="container">
		<div id="content">
		
			<%=yield %>
		</div>
		
		
		<div id="footer">
			<div id="copyright">
				<small>Copyright @abhShoes. All rights reserved. </small>
			</div>
			<ul id="footer_menu">
				<li><%= link_to 'Home', store_url %></li>
				<% @categories.each do |c| %>
					<li><%= link_to c.name, category_path(c) %></li>
				<% end %>
			</ul>
		</div>
	</div>
	
</body>

</html>