<!DOCTYPE html>
<html>
<head>
  <title>abhShoes</title>
  <%= favicon_link_tag('shoes.png') %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="<%= controller.controller_name %>">


	<nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="header">
  <div class="container-fluid" id="menu_container">
    
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
 
      
      <%= link_to image_tag('logo.png', class: 'img-responsive'), store_url, class:'navbar-brand', id: 'logo' %>
      
    </div>

    
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        
        
				  <% @categories.each do |c| %>
						<li><%= link_to c.name, category_path(c) %></li>
				  <% end %>	
		 
      </ul>
     
      

      
      <ul class="nav navbar-nav navbar-right">
        
      
      <% unless session[:role]=='administrator' %>
				<div id="cart">
						<%= render @cart %>
				</div>
		  <% end %>
        
        
        <% if @current_user %>
				  <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><%= @current_user.name %><span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" id="login_register">
								<% unless session[:role]=='administrator' %>
								  <li><%= link_to t('.purchase_history'), orders_purchase_history_path %></li>
                <% end %>
								<li><%= link_to t('.settings'), edit_user_path(@current_user) %></li>
							</ul>
						</li> 
						<li><%= link_to t('.logout'), login_url, method: :delete %></li>
					<% else %>
            <li><%= link_to t('.login'), login_url %></li>
						<li><%= link_to t('.register'), new_user_url %></li> 
					<% end %>
      </ul>
    </div>
    

  </div>
    
    <ul id="languages">
      <li><%= link_to 'BA', store_path(locale: 'ba'), title: 'bosanski' %></li> |
      <li><%= link_to 'EN', store_path(locale: 'en'), title: 'English' %></li>
    </div>
    
</nav>		
  

  
<% if session[:role]=='administrator' %>
  <div id="admin_menu_container">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin_menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      
      <div class="collapse navbar-collapse" id="admin_menu">
        <ul class="nav navbar-nav">
          
          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orders<span class="caret"></span></a>
  							<ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Not shipped', orders_url %></li>
                  <li><%= link_to 'Shipped', orders_url(shipped: true) %></li>
  							</ul>
  				  </li> 

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<span class="caret"></span></a>
  							<ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Add', new_product_url %></li>
  					      <li><%= link_to 'All', products_url %></li>
  							</ul>
  				  </li> 
          

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<span class="caret"></span></a>
  							<ul class="dropdown-menu" role="menu">
  					       <li><%= link_to 'Add', new_category_url %></li>
  					       <li><%= link_to 'All', categories_url %></li>
  							</ul>
  				  </li>
          

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cities<span class="caret"></span></a>
  							<ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Add', new_city_url %></li>
                  <li><%= link_to 'All', cities_url %></li>
  							</ul>
  				  </li> 
          

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Countries<span class="caret"></span></a>
  							<ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Add', new_country_url %></li>
                  <li><%= link_to 'All', countries_url %></li>
  							</ul>
  				  </li>
          

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sizes<span class="caret"></span></a>
  							<ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Add', new_size_url %></li>
                  <li><%= link_to 'All', sizes_url %></li>
  							</ul>
  				  </li> 
          

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Colors<span class="caret"></span></a>
  							<ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Add', new_color_url %></li>
                  <li><%= link_to 'All', colors_url %></li>
  							</ul>
  				  </li> 

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User roles<span class="caret"></span></a>
  							<ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Add', new_role_url %></li>
                  <li><%= link_to 'All', roles_url %></li>
  							</ul>
  				  </li> 
          

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage users<span class="caret"></span></a>
  							<ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Add', new_user_url %></li>
                  <li><%= link_to 'All', users_url %></li>
  							</ul>
  				  </li> 
          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Translations<span class="caret"></span></a>
  							<ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'New Language', new_language_url %></li>
                  <li><%= link_to 'All Languages', languages_url %></li>
                  <li><%= link_to 'New category translation', new_category_translation_url %></li>
                  <li><%= link_to 'New product translation', new_product_translation_url %></li>
  							</ul>
  				  </li> 
          
           
        </ul>
  			
      </div>
    </div>
  </nav>		
</div>
<% end %>
  
    

  <div class="container-fluid" id="notice_area">
    <% unless session[:role] == 'administrator' %>
      <p id="notice"><%= notice %></p>
    <% end %>
  </div>
  
  <% if items_on_sale_images.present? %>
    <ul class="bxslider" id="items_on_sale_slider">
      <% items_on_sale_images.each do |img| %>
        <li><%= image_tag img.image.url(:background) %></li>
      <% end %>
    </ul>
  <% end %>


  <div id="on_sale">
    <p> <%= t('.products_on_sale') %></p>
    <small><%= t('.highest_discount_html') %> </small>
    <p class="percent"><%= Product.highest_discount %> % </p>
    <%= button_to t('.see_offer'), products_on_sale_path, method: :get, class: 'button' %>
  </div>
  

  
  <div id="content" class="container-fluid">
    <div class="row">
      <%= yield %>
    </div>
  </div>


<div class="panel panel-default" id="footer">
 
  <div class="panel-footer">
  
		<ul id="footer_menu">
		  <li><%= link_to t('.home_html'), store_url %></li>
        
        
				  <% @categories.each do |c| %>
						<li><%= link_to c.name, category_path(c) %></li>
				  <% end %>	
	
		</ul>
    
      <div id="copyright">
		    <small>Copyright @abhShoes. <%= t('.rights_html')%> </small>
		  </div>
  </div>
</div>

  
  <script type="text/javascript">
      $(document).ready(function(){
        $('#items_on_sale_slider').bxSlider({
          minSlides: 3,
          maxSlides: 3,
          slideMargin: 0,
          ticker: true,
          speed: 13000,
          autoControls: true
        });
      });
  </script>    
    
  
</body>

</html>